 
.menu ul{
   padding: 0;
   margin: 0;
   display: table;
   width: 100%;
   
 }
 .menu li{
   display: table-cell;
   background-color: rgb(134, 129, 127);
   text-align: center;
   position: relative;
   border: 5px solid #747474;
border-radius: 5px 5px 5px 5px;
 }
 .menu ul ul  {
   display: block;
   position: absolute;
   height: 0;
   overflow: hidden;
   transition: height 0.5s 0.5s ease-out
 }
 .menu ul ul a{
    background-color: rgb(150, 175, 199);
 }
  
 .menu ul ul a:hover{
    background-color: rgb(49, 219, 177);
 }
 .menu ul ul li{
   display: block;
 }
 .menu a {
   color: rgb(170, 19, 19);
   text-decoration: none;
   height: 25px;
   display: inline-block;
   line-height: 25px;
   width: 100%;
   
 }
 .menu a:hover {
   background-color: rgb(64, 46, 116);
 }
 .menu li:hover ul {

   height: 200px;
 }