.menu div{
   width: 230px;
   float: left;
   background-color: rgb(165, 165, 156);
   border: solid rgb(71, 71, 134) 1px;
   position: relative;
   cursor: pointer;
   
}
.menu2 div:hover{
   background-color: blueviolet;
   
}
.menu2{
   width: 150px; 
   display: none;
  
  
}
.menu2 div{
   background-color: rgb(33, 90, 90);
    border: solid rgb(71, 71, 136) 1px;
   cursor: pointer;
}
.menu>div:hover div.menu2{
display:block;
position: absolute; 

}
@media all and  (max-width:477px){
   .menu2{
      width: 150px; display: none;
     }
   .menu2 div{
      background-color: rgb(33, 90, 90);
       border: solid rgb(71, 71, 136) 1px;
      cursor: pointer;
      }
      .menu>div:hover div.menu2{
         display:inline;
         position:absolute;
         left: 230px; 
      }
}