.fram{
   color:  rgba(218, 23, 23, 0.8);
   padding: 4em;

}
.b-r{
   background-image:url(img/r-b.png);
   background-repeat: no-repeat;
   background-position: bottom right;
   
}
.b-l{
   background-image:url(img/l-b.png);
   background-repeat: no-repeat;
   background-position: bottom left ;
}
.t-l{
   background-image:url(img/l-t.png);
   background-repeat: no-repeat;
   background-position: top left ; 
}
.t-r{
   background-image:url(img/r-t.png);
   background-repeat: no-repeat;
   background-position: top right ;  
}
.l{
   background-image:url(img/l.png);
   background-repeat: repeat-y;
   background-position: left ; 
}
.r{
   background-image:url(img/r.png);
   background-repeat: repeat-y;
   background-position: right ; 
}
.t{
   background-image:url(img/t.png);
   background-repeat: repeat-x;
   background-position: top; 
}
.b{
   background-image:url(img/b.png);
   background-repeat: repeat-x;
   background-position: bottom ; 
}